<div class="container">
  <!-- <form role='form' ng-submit='addTodo()'>
    <div class="row">
      <div class="input-group">
          <input type="text" ng-model='todo' placeholder='What needs to be done?' class='form-control'>
          <span class="input-group button">
            <input type="submit" class='btn btn-primary' value='Add'>
          </span>
      </div>
    </div>
  </form> -->
<!--   
  <h2>Matched Summoners</h2>
  <div>
    <div class="row">
    <div class="col-xs-1 filler">filler</div>
      <div class="col-xs-2" ng-repeat="summoner in summoners">
      <profile></profile>
      </div>
      <div class="col-xs-1 filler">filler</div>
    </div>
  </div>
</div>
 -->
<div class='specs'>
 <h2>Find matches</h2>
<a href="#/matches" class='button btn btn-success'>Go!</a>
</div>
